{% extends 'base.html' %}
<head>

    {% load static %}

    {% block head %}
        <title>OMRA API Home</title>
    {% endblock %}
</head>
<body>

{% block body %}
    <div style="text-align: center">
    <h2>
       C
        <form method='post'  style="display: inline-block">
            {% csrf_token %}
            <button>Create</button>
        </form>

        R
        <form method='get' style="display: inline-block">
            {% csrf_token %}

            <button>Remove</button>
        </form>
        </h2>
    </div>
    <div><h2 style="text-align: center">Last request method was a <span style ="color:red">{{ request }}</span> request. </h2></div>

{% endblock %}

</body>
